<p><h>friends list</h></p>
<% if @users.friends.present? %>
	<% @users.friends.each do |friend| %>
 	<p><%= friend.email %></p>
	<% end %>
<% else %>
 <p>no friends there...</p>
<% end %>
<br><br>
<p><h>Add friend</h></p>
<% @user.each do |user| %>
	<p><%= user.email %>&nbsp;<%= link_to "Add friend", friendships_path(:friend_id => user), :method => :post %></p>
 <%# end %>
<% end %>